main {
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 40px;
  background-color: var(--light-gray);
}

:host {
  width: 100%;
}

h4 {
  font-weight: 500;
  margin: 0px;
}

p {
  color: var(--label);
  width: 400px;
  text-align: center;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  color: var(--primary-color);
}
