main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 1000px;
}

.login-container {
  max-width: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 500;
  background-color: var(--white);
  box-shadow: var(--shadow-container-primary);
  border: 1px solid var(--border-color);
  padding: var(--container-padding-secondary);
  border-radius: var(--border-radius);
  animation: slideInFromTop 0.4s ease;
}

.login-headerSubtitle {
  margin-bottom: 15px;
  color: var(--subtitle);
  font-weight: 400;
  font-size: 20px;
}

.login-asGuestContainer {
  padding: var(--container-padding-primary);
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  color: var(--white);
  max-width: 300px;
  position: relative;
  z-index: 100;
  margin-bottom: auto;
  box-shadow: var(--shadow-container-primary);
  margin-left: var(--container-spacing);
  animation: slideInFromTop 1s ease;
}

.login-headerParagraph {
  margin: 0px;
  color: var(--label);
}

hr {
  height: 1px;
  background-color: var(--border-color);
  border: none;
  width: 100%;
  margin: 30px 0 40px 0;
}

.login-inputs {
  display: grid;
  width: 100%;
  grid-template-areas:
    'name name surname surname'
    'email email email email'
    'code phone phone phone';
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.login-headerTitle,
.login-asGuestContainer h1 {
  margin: 0 0 30px 0;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: var(--letter-spacing-primary);
  align-self: baseline;
  line-height: 42px;
}

.login-nameDiv {
  grid-area: name;
}

.login-surnameDiv {
  grid-area: surname;
}

.login-emailDiv {
  grid-area: email;
}

.login-phoneDiv {
  grid-area: phone;
}

.login-countryCodeDropdown {
  grid-area: code;
}

.login-nameInput,
.login-surnameInput,
.login-emailInput,
.login-phoneInput {
  font-family: inherit;
  width: 100%;
  background-color: var(--light-gray);
  border: none;
  border-radius: 30px;
  padding: 20px;
  text-align: left;
  transition: all 0.3s ease;
  font-size: 15px;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.login-countryCodeDropdown {
  padding: 20px;
  background-color: var(--white);
  border-radius: 40px;
  color: var(--black);
  border: 1px solid var(--border-color);
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: inherit;
  font-weight: 500;
  font-size: medium;
  &,
  &::picker(select) {
    appearance: base-select;
    border: 1px solid var(--border-color);
    border-radius: 30px;
    max-height: 300px;
  }
}

.login-countryCodeDropdown:hover {
  background-color: var(--white-hover);
}

.login-countryCodeDropdown::picker-icon {
  transition: all 0.5s ease;
}

.login-countryCodeDropdown:open.active::picker-icon {
  rotate: 180deg;
}

.login-countryCodeOption {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--white);
  transition: all 0.2s ease;
}

.login-countryCodeOption:hover {
  background-color: var(--white-hover);
}

.login-submitButton {
  padding: 20px;
  width: 200px;
  background-color: var(--primary-color);
  border-radius: 40px;
  color: var(--white);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  margin-left: auto;
}

.login-submitButton:hover {
  background-color: var(--primary-color-hover);
}

.login-continueAsGuestButton {
  padding: 20px;
  width: 100%;
  background-color: var(--white);
  border-radius: 40px;
  color: var(--black);
  border: 1px solid var(--border-color);
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  margin-top: 40px;
}

.login-containerButtons {
  display: flex;
}

.login-backButton {
  padding: 14px 15px 14px 15px;
  margin-right: 10px;
  background-color: var(--white);
  border: 1px solid var(--border-color);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--black);
}

.login-backButton svg {
  transform: scaleX(-1);
}

.login-continueAsGuestButton:hover,
.login-backButton:hover {
  background-color: var(--white-hover);
}

.registration-label {
  font-weight: 500;
  color: var(--label);
  font-size: 15px;
  padding: 15px;
  background-color: var(--white-hover);
  border: 1px solid var(--border-color);
  border-radius: 50px;
  margin-top: auto;
  margin-bottom: 30px;
  width: fit-content;
  align-self: center;
}

.error-label.visible {
  display: block;
  width: fit-content;
  padding: 5px;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: var(--error-background);
  box-shadow: var(--shadow);
  color: var(--error-label);
  animation: fadeIn 0.3s ease;
}

.error-label {
  display: none;
}

/* Mobile */
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  :host {
    max-width: 360px;
    justify-content: center;
    align-items: center;
  }

  .login-container {
    padding: var(--container-padding-mobile);
    border-radius: var(--border-radius-mobile);
    width: unset;
    width: 298px;
    z-index: 200;
    position: relative;
  }

  .login-headerTitle {
    font-size: 28px;
  }

  .login-asGuestContainer {
    width: 298px;
    padding: var(--container-padding-mobile);
    border-radius: var(--border-radius-mobile);
    z-index: 1;
    position: relative;
    margin: 25px 0 0 0;
  }

  .login-asGuestContainer button {
    font-size: 16px;
  }

  .login-asGuestContainer h1 {
    font-size: 28px;
    margin: 0;
  }

  .login-submitButton {
    margin: 0;
    flex: 1;
    font-size: 16px;
  }

  .login-container hr {
    margin: 25px 0 25px 0;
  }

  .login-headerSubtitle {
    font-size: 18px;
  }
}
