main {
  width: 1100px;
  padding-top: 150px;
  animation: pageSlideInFromBottom 0.6s ease;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h1 {
  margin: 0px;
  letter-spacing: var(--letter-spacing-primary);
  font-weight: 600;
  font-size: 48px;
}

p {
  font-size: 20px;
  margin-top: 10px;
  color: var(--label);
  font-style: italic;
}

/* Mobile */
@media (max-width: 768px) {
  main {
    width: 360px;
    padding-top: 100px;
  }

  h1 {
    font-size: 28px;
  }

  p {
    font-size: 16px;
    width: 320px;
  }
}
