main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  animation: pageSlideInFromBottom 0.6s ease;
}

.articles-placeholder {
  justify-content: center;
  display: flex;
  max-width: 1000px;
  width: 100%;
  overflow-x: auto;
  transform: translateY(100px);
  transition:
    opacity 0.8s ease,
    transform 0.8s ease,
    filter 0.8s ease;
  border-radius: 30px;
  gap: 10px;
}

.articles-placeholder::-webkit-scrollbar {
  display: none;
}

:host {
  display: flex;
  justify-content: center;
}

.articles-placeholder div {
  display: flex;
  flex-direction: row;
  animation: spin 35s infinite linear;
  gap: 10px;
}

h1 {
  letter-spacing: var(--letter-spacing-primary);
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 120px;
}

button {
  padding: 20px 40px 20px 40px;
  width: fit-content;
  background-color: var(--white);
  border-radius: 40px;
  color: var(--black);
  border: 1px solid var(--border-color);
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  box-shadow: var(--shadow-container-primary);
}

button:hover {
  background-color: var(--white-hover);
}

/* Mobile */
@media (max-width: 768px) {
  main {
    padding: 80px 0 80px 0;
  }

  main h1 {
    font-size: 24px;
  }

  button {
    font-size: 16px;
  }

  img {
    width: 250px;
  }
}
