header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 15px 40px 15px 40px;
  background-color: #f8fafc58;
  backdrop-filter: blur(120px);
  box-sizing: border-box;
}

:host {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1100;
  top: 0;
}

.header-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.header-profileButton {
  margin-left: 10px;
  padding: 15px;
  width: fit-content;
  background-color: var(--primary-color);
  border-radius: 40px;
  color: var(--white);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: inherit;
}

.header-profileButton:hover {
  background-color: var(--primary-color-hover);
}

.header-profileButton h4 {
  margin: 0px;
  font-weight: 400;
  font-size: 16px;
}

.header-needHelpButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 15px;
  width: 120px;
  background-color: var(--white);
  border: 1px solid var(--border-color);
  border-radius: 40px;
  color: var(--black);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: inherit;
}

.header-needHelpButton img {
  margin-right: 10px;
}

.header-needHelpButton:hover {
  background-color: var(--white-hover);
}

.header-logo {
  width: 40px;
}

.header-logoText {
  margin-left: 15px;
  font-weight: 600;
  letter-spacing: var(--letter-spacing);
  color: var(--black);
}
