<header>
  <div class="header-div">
    <img src="icons/logo.png" class="header-logo" alt="logo" />
    <h3 class="header-logoText">PiggyBank.com</h3>
    <button class="header-needHelpButton" (click)="openPopup()">support</button>
    <button routerLink="/profile" class="header-profileButton">profile</button>
  </div>
</header>

@if (isPopupOpen) {
  <app-popup
    [text]="popupText"
    [button1]="'cancel'"
    [button2]="'send'"
    [popupContext]="popupContext"
    (confirmed)="onConfirm($event)"
    (declined)="onDecline()"
  ></app-popup>
}
