main {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    padding: var(--container-padding-secondary);
    margin-top: var(--container-spacing);
    cursor: default;
    opacity: 0;
    filter: blur(50px);
    transform: translateY(100px);
    transition: opacity 0.8s ease, transform 0.8s ease, filter 0.8s ease;
}

main.show {
    filter: blur(0);
    opacity: 1;
    transform: translateY(0);
}

hr {
  height: 1px;
  background-color: var(--border-color);
  border: none;
  margin: 25px 0 25px 0;
}

.landing-stepsTopDiv {
  display: flex;
  gap: 65px;
  position: relative;
  width: fit-content;
}

.landing-stepIcon1 {
  position: absolute;
  top: 35px;
  left: 100px;
}

.landing-stepIcon2 {
  position: absolute;
  top: 35px;
  right: 180px;
}

.landing-stepsBottomDiv {
  margin-left: auto;
}

.landing-step {
  max-width: 150px;
  width: 100%;
}

.landing-step h2 {
  background-color: var(--primary-color-icon);
  width: fit-content;
  margin: 0px;
  padding: 20px;
  color: var(--primary-color);
  border-radius: 20px;
}

.landing-step h4 {
  color: var(--black);
  letter-spacing: var(--letter-spacing-secondary);
  font-weight: 600;
}

.landing-step p {
  color: var(--label);
  margin: 0px;
}

.landing-stepsBottomDiv p {
  margin: 0 0 15px 0;
  font-weight: 400;
  padding: 10px 20px 10px 20px;
  color: var(--label);
  background-color: var(--label-background);
  border: 1px solid var(--border-color);
  border-radius: 40px;
  width: fit-content;
}

.landing-stepsBottomDiv h1 {
  margin: 0px;
  letter-spacing: var(--letter-spacing-primary);
  font-weight: 600;
}
