<footer class="footer">
  <img ngSrc="icons/white_footer_logo.svg" alt="logo" class="footer-logo" />
  <h1 class="footer-logoText">PiggyBank.com <span></span></h1>
  <div class="footer-bottomDiv">
    <div class="footer-bottomTextDiv">
      <p class="footer-subtitle1">where finance meets web</p>
      <p class="footer-subtitle2">
        a simple digital bank that lets users send, top up, and withdraw money.
        It’s designed to be easy to use and beginner-friendly.
      </p>
    </div>
    <div class="footer-bottomLinksDiv">
      <p>links</p>
      <ul class="footer-bottomLinks">
        <li>
          <a routerLink="/privacy-policy">privacy policy</a>
        </li>
        <li>
          <a routerLink="/terms-and-conditions">terms & conditions</a>
        </li>
        <li>
          <a routerLink="/cookie-policy">cookie policy</a>
        </li>
      </ul>
    </div>
    <div class="footer-bottomSocialDiv">
      <p>social</p>
        <ul class="footer-bottomLinks">
          <li>
            <a href="https://github.com/cathedraal">github</a>
          </li>
          <li>
            <a href="https://web.telegram.org/@manera777">telegram</a>
          </li>
        </ul>
    </div>
    <div class="footer-bottomNewsletterDiv">
      <p>subscribe to our newsletter</p>
      <div class="footer-bottomNewsletterInputDiv">
        <input type="text" placeholder="email">
        <button><img ngSrc="icons/footer_newsletterInputIcon.svg" alt="newsletter"></button>
      </div>
    </div>
  </div>
</footer>

<p class="footer-sign">designed & developed by <a href="https://github.com/cathedraal">@cathedraal</a></p>
