footer {
    flex-direction: column;
    margin-top: auto;
    flex-shrink: 0;
    width: 100%;
    gap: 10px;
    padding: 45px;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    position: relative;
    font-family: inherit;
    box-shadow: var(--shadow-tertiary);
    box-sizing: border-box;
    z-index: 500;
}

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.footer-sign {
  align-self: last baseline;
  margin: 10px 200px 20px 0;
  color: var(--black);
  position: relative;
  z-index: 100;
  opacity: 0.6;
  font-size: 12px;
}

.footer-sign a {
  font-size: 14px;
  color: var(--black);
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 0px;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: var(--letter-spacing-secondary);
}

.footer-bottomDiv {
  display: flex;
  gap: 40px;
}

.footer-bottomLinksDiv p,
.footer-bottomSocialDiv p,
.footer-bottomNewsletterDiv p {
  font-size: 16px;
  color: var(--white);
  font-weight: 400;
  margin-bottom: 10px;
}

ul {
  padding: 0px;
}

li {
  display: block;
}

a {
  font-size: 14px;
  color: var(--white);
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 0px;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.8;
}

.footer-bottomLinksDiv {
  margin-left: auto;
}

.footer-bottomNewsletterInputDiv {
  margin-top: 15px;
}

.footer-bottomNewsletterInputDiv {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

input {
  background-color: #ffffff3f;
  border: 1px solid #ffffff72;
  border-radius: 40px;
  padding: 15px;
  color: var(--white);
  outline: none;
}

input::placeholder {
  color: var(--white);
  opacity: 0.5;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  height: fit-content;
  border-radius: 50%;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: var(--white);
}

button:hover {
  background-color: var(--white-hover);
}

.footer-logo {
  width: 86px;
}

.footer-logoText {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: var(--letter-spacing);
  color: var(--white);
}

.footer-subtitle1 {
  font-size: 16px;
  color: var(--white);
  font-weight: 400;
  margin-bottom: 10px;
}

.footer-subtitle2 {
  font-size: 14px;
  width: 320px;
  color: var(--white);
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 0px;
  opacity: 0.8;
}
