footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
    flex-shrink: 0;
    max-width: 1350px;
    width: 100%;
    gap: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    position: relative;
    z-index: 1;
    font-family: inherit;
    box-shadow: var(--shadow);
    margin-bottom: 20px;
}

:host {
  display: flex;
  justify-content: center;
}

.footer-logo {
  width: 86px;
}

.footer-logoText {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: var(--letter-spacing);
  color: var(--white);
}

.footer-subtitle {
  font-size: 16px;
  width: 300px;
  color: var(--white);
  text-align: center;
}
