<header>
  <div class="header-div">
    <div class="header-logoDiv">
      <button (click)="onLogoRoute()">
        <img src="icons/logo.svg" class="header-logo" alt="logo" />
        <h3 class="header-logoText">PiggyBank</h3>
      </button>
    </div>
    @if (!userService.user()) {
      <div class="header-landingButtons">
        <button (click)="scrollTo('aboutUs')">About</button>
        <button (click)="scrollTo('steps')">Steps</button>
        <button (click)="scrollTo('benefits')">Benefits</button>
        <button (click)="scrollTo('faqs')">FAQs</button>
      </div>
    } @else {
      <div class="header-dashboardButtons">
        <button routerLink="/profile">Profile</button>
        <button routerLink="/all-transactions">Transactions</button>
        <button routerLink="/articles">Articles</button>
      </div>
    }
    <div class="header-cornerButtons">
      <button class="header-needHelpButton" (click)="openPopup()"><img src="icons/support.svg" alt="support">support</button>
      <button class="header-profileButton" (click)="onRoute()" [class.profile]="userService.getUser()">
        @if (userService.getUser()) {
          <h4>{{ userService.getUser()!.name.charAt(0) + userService.getUser()!.surname.charAt(0) }}</h4>
        } @else {
          <h4>hey, <span>log in</span></h4>
        }
      </button>
    </div>
  </div>
</header>

@if (isPopupOpen) {
  <app-popup
    [text]="popupText"
    [button1]="'cancel'"
    [button2]="'send'"
    [popupContext]="popupContext"
    (confirmed)="onConfirm($event)"
    (declined)="onDecline()"
    (closed)="onDecline()"
  ></app-popup>
}
