main {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: var(--container-spacing);
  height: 400px;
}

.dashboard-wallet {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 45px;
  max-width: 750px;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: var(--shadow-container-primary);
  position: relative;
  z-index: 100;
  box-sizing: border-box;
}

.dashboard-wallet:hover {
  transform: scale(1.006);
}

.dashboard-walletTitle {
  color: var(--container-title);
  font-weight: 400;
  margin: 0px;
}

.dashboard-walletHeader {
  display: flex;
  align-items: center;
}

.dashboard-walletType {
  margin: 0px;
  padding: 10px 20px 10px 20px;
  width: 80px;
  text-align: center;
  border-radius: 40px;
  margin-left: auto;
}

.dashboard-walletBalance {
  margin: 0px;
  font-size: 128px;
  margin-top: auto;
  max-width: 600px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  font-weight: 600;
  letter-spacing: var(--letter-spacing-primary);
}

.dashboard-walletBalance span {
  color: var(--primary-color);
}

.dashboard-walletBottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.dashboard-walletBottom .dashboard-walletCardNumber {
  margin: 0px;
  font-size: 20px;
  text-align: center;
  margin-left: 5px;
  color: var(--container-title);
}

.dashboard-walletProfileButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--profile-button);
  padding: 5px;
  border-radius: 50%;
  margin-left: 10px;
  transition: all 0.2s ease;
}

.dashboard-walletProfileButton:hover {
  background-color: var(--profile-button-hover);
}

.dashboard-manageWalletDiv {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  background-color: var(--white);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 45px;
  margin-left: 25px;
  position: relative;
  z-index: 1;
  flex: 1;
}

.dashboard-manageWalletDiv h4 {
  color: var(--container-title);
  font-weight: 400;
  margin-top: 0px;
}

.dashboard-manageWalletButtons {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 5px;
  margin-top: auto;
  min-width: 210px;
  width: 100%;
}

.dashboard-manageWalletAdd,
.dashboard-manageWalletTransfer,
.dashboard-manageWalletWithdraw {
  background-color: var(--light-gray);
  border: none;
  border-radius: 40px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: inherit;
  font-weight: 600;
  font-size: medium;
  color: var(--black);
  transition: all 0.3s ease;
  cursor: pointer;
  white-space: nowrap;
}

.dashboard-manageWalletAdd img,
.dashboard-manageWalletTransfer img,
.dashboard-manageWalletWithdraw img {
  margin-right: 15px;
}

.dashboard-manageWalletTransfer span,
.dashboard-manageWalletWithdraw span {
  margin-left: 5px;
}

.dashboard-manageWalletAdd:hover,
.dashboard-manageWalletTransfer:hover,
.dashboard-manageWalletWithdraw:hover {
  opacity: 0.7;
}

.dashboard-walletAmountOfCards {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid var(--border-color);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-bottom: 0px;
  margin-top: 0px;
  color: var(--subtitle);
  margin-left: 10px;
}

/* Mobile */
@media (max-width: 768px) {
  main {
    flex-direction: column;
    margin-top: var(--container-spacing-mobile);
    height: fit-content;
  }

  .dashboard-wallet {
    padding: var(--container-padding-mobile);
    border-radius: var(--border-radius-mobile);
    height: fit-content;
  }

  .dashboard-walletTitle {
    font-size: 16px;
  }

  .dashboard-walletType {
    font-size: 14px;
    width: 50px;
    font-weight: 600;
    padding: 10px 15px 10px 15px;
  }

  .dashboard-walletBalance {
    font-size: 52px;
    margin-top: 50px;
  }

  .dashboard-walletImg {
    width: 18px;
  }

  .dashboard-walletBottom .dashboard-walletCardNumber {
    font-size: 14px;
  }

  .dashboard-walletBottom button {
    width: 25px;
    height: 25px;
  }

  .dashboard-walletBottom button img {
    width: 15px;
  }

  .dashboard-manageWalletDiv {
    padding: 0;
    background: none;
    border: none;
    margin: 0px;
    justify-content: baseline;
    overflow: scroll;
    border-radius: 0px;
    width: 310px;
  }

  .dashboard-manageWalletDiv h4 {
    display: none;
  }

  .dashboard-manageWalletButtons {
    flex-direction: row;
    margin-top: var(--container-spacing-mobile);
    overflow: scroll;
    justify-content: flex-start;
  }

  .dashboard-manageWalletAdd, .dashboard-manageWalletTransfer, .dashboard-manageWalletWithdraw {
    font-size: 16px;
    background-color: var(--white);
    border: 1px solid var(--border-color);
    font-weight: 500;
  }

  .dashboard-manageWalletTransfer span, .dashboard-manageWalletWithdraw span {
    display:  none;
  }

  .dashboard-manageWalletAdd img, 
  .dashboard-manageWalletTransfer img,
  .dashboard-manageWalletWithdraw img {
    margin-right: 10px;
    width: 40px;
  }

  .dashboard-manageWalletAdd {
    padding-right: 10px;
  }

  .dashboard-manageWalletTransfer, .dashboard-manageWalletWithdraw {
    padding-right: 10px;
  }
}
