main {
    width: 1100px;
    padding-top: 150px;
}

h1 {
    margin: 0px;
    letter-spacing: var(--letter-spacing-primary);
    font-weight: 600;
}

p {
    font-size: 20px;
    margin-top: 10px;
    color: var(--label);
    font-style: italic;
}
