main {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: fit-content;
  justify-content: center;
}

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slideInFromTop 0.3s ease;
  margin: 0 0 30px 0;
}

h4,
p,
img,
.transactionFlow-firstStep,
.transactionFlow-secondStep,
.transactionFlow-thirdStep {
  animation: iconChange 0.3s ease;
}

hr {
  height: 1px;
  width: 100px;
  border: none;
  background-color: var(--border-color);
  animation: iconChange 0.3s ease;
}

hr.active {
  width: 50px;
}

.transactionFlow-firstStep {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}

.transactionFlow-secondStep {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.transactionFlow-thirdStep {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
}

.transactionFlow-secondStepIcon,
.transactionFlow-thirdStepIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--light-gray);
  border: 1px solid var(--border-color);
  padding: 23px 20px 23px 20px;
}

.transactionFlow-firstStepIcon img,
.transactionFlow-secondStepIcon img {
  width: 23.5px;
}

.transactionFlow-firstStepIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--light-gray);
  border: 1px solid var(--border-color);
  padding: 23px 22px 23px 22px;
}

.transactionFlow-firstStepIcon.active,
.transactionFlow-secondStepIcon.active {
  padding: 10px;
  background-color: var(--primary-color);
}

.transactionFlow-firstStepIcon h4,
.transactionFlow-secondStepIcon h4,
.transactionFlow-thirdStepIcon h4 {
  margin: 0px;
  color: var(--container-title);
  font-weight: 400;
}

/* Mobile */
@media (max-width: 768px) {
  main {
    display: none;
  }
}
