<div class="body-overlay">
  <div class="body-popup">
    <div class="popup-header">
      @if (popupContext === 'daily limit') {
        <h3 class="popup-text">
          daily limit: 1.500,00 in the selected currency
          <a href="/terms-and-conditions">learn more</a>
        </h3>
      } @else {
        <h3 class="popup-text">{{ text }}</h3>
      }
      <button><img src="icons/cross.svg" alt="cancel" (click)="close()"></button>
    </div>
    <div class="popup-support" [style.display]="popupContext === 'support' ? 'block' : 'none'">
      <textarea
        type="text"
        name="input"
        class="popup-input"
        placeholder="I have this issue..."
        #userInput
      ></textarea>
      <div class="popup-supportButtons">
        @for (button of supportButtons; track $index) {
          <button class="popup-supportButton" [value]="button.value" (click)="onInputValueChange($event, userInput)">{{button.text}}</button>
        }
      </div>
    </div>
    <div class="popup-buttons">
      @if (popupContext === 'info popup' || popupContext === 'daily limit') {
        <button (click)="decline()" class="popup-button3">understood</button>
      } @else {
        <button (click)="decline()" class="popup-button1">{{ button1 }}</button>
        <button (click)="confirm(userInput.value)" class="popup-button2">{{ button2 }}</button>
      }
    </div>
  </div>
</div>
