.body-overlay {
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  backdrop-filter: blur(30px);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  z-index: 2000;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 0.3s ease forwards;
}

.body-popup {
  background-color: var(--white);
  padding: 40px;
  max-width: 340px;
  width: 100%;
  border-radius: 45px;
  width: 100%;
  position: relative;
  animation: slideInFromBottom 0.2s ease;
  box-shadow: var(--shadow-container-primary)
}

.popup-header {
  display: flex;
  flex-direction: row;
}

.popup-header button {
  display: flex;
  height: fit-content;
  width: fit-content;
  border-radius: 50%;
  border: none;
  padding: 0px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--light-gray);
  cursor: pointer;
  transition: all 0.2s ease;
}

.popup-header button:hover {
  background-color: var(--white);
}

.popup-header button img {
  width: 30px;
}

.popup-button2 {
  padding: 20px;
  max-width: 55%;
  width: 100%;
  margin-left: 10px;
  background-color: var(--primary-color);
  font-family: inherit;
  border: none;
  color: var(--white);
  border-radius: 30px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.2s ease;
}

.popup-button3 {
  padding: 20px;
  width: 100%;
  background-color: var(--primary-color);
  font-family: inherit;
  border: none;
  color: var(--white);
  border-radius: 30px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.2s ease;
}

.popup-button1 {
  padding: 20px;
  max-width: 40%;
  width: 100%;
  background-color: var(--white);
  font-family: inherit;
  border: none;
  color: var(--black);
  border: 1px solid var(--border-color);
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 600;
  font-size: 18px;
}

.popup-button1:hover {
  background-color: var(--white-hover);
}

.popup-button2:hover, .popup-button3:hover {
  background-color: var(--primary-color-hover);
}

.popup-text {
  margin-bottom: 30px;
  margin-top: 0px;
  max-width: 300px;
  font-weight: 600;
  letter-spacing: var(--letter-spacing-secondary);
}

.popup-input {
  font-family: inherit;
  background-color: var(--light-gray);
  border: 1px solid var(--border-color);
  border-radius: 30px;
  padding: 20px;
  transition: all 0.3s ease;
  resize: none;
  width: 100%;
  height: 120px;
  font-size: 15px;
  box-sizing: border-box;
}

.popup-supportButtons {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin: 5px 0 30px auto;
}

.popup-supportButton {
  background-color: var(--light-gray);
  border: 1px solid var(--border-color);
  padding: 10px;
  font-size: medium;
  color: var(--dark-gray);
  font-family: inherit;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  flex: 1;
}

.popup-supportButton:hover {
  color: var(--black);
}

/* Mobile */
@media (max-width: 768px) {
  .body-popup {
    max-width: unset;
    width: 250px;
    padding: var(--container-padding-mobile);
    border-radius: var(--border-radius-mobile);
  }

  .popup-text {
    width: 230px;
    font-size: 18px;
  }

  .popup-button2 {
    max-width: unset;
    width: 49%;
    margin: 0;
    font-size: 16px;
    padding: 15px;
  }

  .popup-button1 {
    max-width: unset;
    width: 49%;
    font-size: 16px;
    padding: 15px;
  }

  .popup-buttons {
    display: flex;
    justify-content: space-between;
  }
}