main {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    padding: var(--container-padding-secondary);
    border-radius: var(--border-radius);
    margin-top: var(--container-spacing);
    opacity: 0;
    filter: blur(30px);
    transform: translateY(100px);
    transition: opacity 0.8s ease, transform 0.8s ease, filter 0.8s ease;
}

main.show {
    filter: blur(0);
    opacity: 1;
    transform: translateY(0);
}

main div {
  display: flex;
  width: 100%;
}

main h4 {
  margin: 0 0 80px 0;
  width: 100%;
  color: var(--white);
  font-weight: 400;
  font-size: 20px;
}

main h4 span {
  background-color: var(--primary-color-hover);
  color: var(--white);
  font-weight: 400;
  padding: 20px;
  max-width: 100px;
  width: 100%;
  margin-right: 10px;
  border-radius: 50px;
  display: inline-block;
  text-align: center;
}

main div button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: var(--white);
  border: none;
  color: var(--black);
  font-family: inherit;
  height: fit-content;
  padding: 10px 10px 10px 25px;
  border-radius: 40px;
  font-weight: 600;
  width: fit-content;
  box-shadow: var(--shadow-secondary);
  margin-left: auto;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 18px;
}

main div button svg {
    background-color: var(--black);
    padding: 10px;
    border-radius: 50%;
    background-color: #0c6dff18;
    color: var(--primary-color);
  transition: all 0.3s ease;
}

main div button:hover {
  background-color: var(--white-hover);
}

main div button:hover svg {
    background-color: var(--white-hover);
}

main div button:hover svg {
  transform: translateX(8px);
}

/* Mobile */
@media (max-width: 768px) {
  main {
    padding: var(--container-padding-mobile);
    margin-top: var(--container-spacing-mobile);
    border-radius: var(--border-radius-mobile);
  }

  main h4 span {
    font-size: 18px;
    padding: 20px;
    width: fit-content;
    margin-bottom: 10px;
  }

  main h4 {
    font-size: 18px;
    margin-bottom: 40px;
  }
}