main {
  display: flex;
  width: 1100px;
  flex-direction: column;
  background-color: var(--white);
  border: 1px solid var(--border-color);
  padding: var(--container-padding-secondary);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  margin-top: var(--container-spacing);
  margin-bottom: 60px;
}

h1 {
  margin: 0;
  letter-spacing: var(--letter-spacing-primary);
  font-weight: 500;
  font-size: 32px;
}

hr {
  height: 1px;
  border: none;
  background-color: var(--border-color);
  margin: 20px 0 20px 0;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--white);
  border: 1px solid var(--border-color);
  color: var(--black);
  font-family: inherit;
  height: fit-content;
  padding: 10px;
  width: fit-content;
  border-radius: 40px;
  font-weight: 500;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 18px;
}

div {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

button:hover {
  background-color: var(--white-hover);
}

img {
  background-color: var(--light-gray);
  padding: 10px;
  border-radius: 50%;
}

/* Mobile */
@media (max-width: 768px) {
  main {
    width: 360px;
    padding: var(--container-padding-mobile);
    border-radius: var(--border-radius-mobile);
    margin-top: var(--container-spacing-mobile);
  }

  h1 {
    font-size: 24px;
  }

  hr {
    margin: 20px 0 20px 0;
  }

  button {
    font-size: 14px;
    padding: 5px;
  }

  div {
    justify-content: right;
    flex-wrap: wrap;
    gap: 5px;
  }

  img {
    width: 20px;
  }
}
