main {
  width: 1000px;
  display: flex;
  flex-direction: column;
  animation: slideInFromTop 0.6s ease;
  padding: var(--minimal-content-padding) 0 0 0;
}

main .header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
}

hr {
  height: 1px;
  width: 100%;
  border: none;
  background-color: var(--border-color);
}

h1 {
  min-width: fit-content;
  margin: 0px;
  letter-spacing: var(--letter-spacing-primary);
  font-weight: 600;
  font-size: 40px;
}

main .header-buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 10px;
}

button {
    background-color: var(--light-gray);
    border: 1px solid var(--border-color);
    font-size: 14px;
    padding: 10px;
    font-family: inherit;
    color: var(--label);
    border-radius: 30px;
    cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {
  img {
    width: 45px;
  }

  h1 {
    font-size: 28px;
  }

  main {
    padding: 80px 0 0 0;
    width: 360px;
  }

  :host {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main .header {
    margin-bottom: 10px;
    gap: 10px;
  }

  main .header-buttons {
    margin: 0;
  }
}
