main {
  display: flex;
  gap: 10px;
  margin-top: var(--container-spacing);
}

.dashboard-benefit {
  padding: 40px;
  max-width: 300px;
  width: 100%;
  border: 1px solid var(--border-color);
  background-color: var(--white);
  border-radius: var(--border-radius);
  position: relative;
}

.dashboard-benefit button {
  display: flex;
  height: fit-content;
  margin: 0px;
  width: fit-content;
  border-radius: 50%;
  border: none;
  padding: 0px;
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: var(--light-gray);
  cursor: pointer;
  transition: all 0.2s ease;
}

.dashboard-benefitHeader {
  font-weight: 400;
  margin: 0px;
  color: var(--container-title);
}

.dashboard-benefitImg {
  background-color: var(--primary-color-icon);
  width: fit-content;
  margin: 60px 0 0 0;
  width: 35px;
  padding: 20px;
  color: var(--primary-color);
  border-radius: 20px;
}

.dashboard-benefit .dashboard-benefitDelete {
  margin-top: 0px;
  transition: all 0.3s ease;
}

.dashboard-benefit .dashboard-benefitDelete:hover {
    background-color: var(--white);
}

.dashboard-benefitTitle {
  font-weight: 600;
  letter-spacing: var(--letter-spacing);
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 20px;
}

.dashboard-benefit p {
  font-weight: 400;
  color: var(--container-title);
  margin-bottom: 0px;
}
