main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

:host {
  padding: var(--minimal-content-padding) 0 var(--minimal-content-padding) 0;
}

main button {
  padding: 20px;
  max-width: 150px;
  width: 100%;
  margin-left: 10px;
  background-color: var(--white);
  border-radius: 40px;
  color: var(--black);
  border: 1px solid var(--border-color);
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
}

main button:hover {
  background-color: var(--white-hover);
}

main p {
  width: 350px;
  text-align: center;
}

main p span {
  font-weight: 600;
}

main h1 {
  margin: 10px 0 0 0;
  font-weight: 500;
  letter-spacing: var(--letter-spacing-primary);
  color: var(--error-label-secondary);
}

main div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 100px 60px 100px;
  border-radius: 65px;
  background-color: var(--error-background-secondary);
  border: 1px solid var(--border-color);
}

/* Mobile */
@media (max-width: 768px) {
  main {
    gap: 10px;
  }

  main h1 {
    font-size: 28px;
  }

  main img {
    width: 50px;
  }

  main div {
    padding: 60px 80px 60px 80px;
  }

  main button {
    font-size: 16px;
  }

  main p {
    font-size: 16px;
    width: 300px;
  }
}