main {
    display: flex;
    flex-direction: column;
    margin-top: var(--container-spacing);
    background-color: var(--white);
    padding: var(--container-padding-secondary);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius); 
    cursor: default;   
    opacity: 0;
    filter: blur(50px);
    transform: translateY(100px);
    transition: opacity 0.8s ease, transform 0.8s ease, filter 0.8s ease;
}

main.show {
    filter: blur(0);
    opacity: 1;
    transform: translateY(0);
}

:host {
    position: relative;
    z-index: 100;
}

hr {
  display: block;
  height: 1px;
  background-color: var(--border-color);
  border: none;
  width: 100%;
  margin: 25px 0 25px 0;
}

.landing-whychooseusTopDiv {
  display: flex;
  gap: 40px;
  margin-left: auto;
}

.landing-whychooseusBenefit img {
  background-color: var(--primary-color-icon);
  width: fit-content;
  margin: 0px;
  width: 30px;
  padding: 20px;
  color: var(--primary-color);
  border-radius: 20px;
}

.landing-whychooseusBenefit {
  max-width: 170px;
  width: 100%;
}

.landing-whychooseusBenefit h4 {
  color: var(--black);
  font-weight: 600;
  letter-spacing: var(--letter-spacing-secondary);
  margin: 20px 0 20px 0
}

.landing-whychooseusBenefit p {
  margin-bottom: 0px;
  color: var(--label);
  font-weight: 300;
}

.landing-whychooseusBottomDiv p {
  margin: 0 0 0 0;
  font-weight: 400;
  padding: 10px 20px 10px 20px;
  color: var(--label);
  background-color: var(--label-background);
  border: 1px solid var(--border-color);
  border-radius: 40px;
  width: fit-content;
}

.landing-whychooseusBottomDiv h1 {
  margin: 0px;
  letter-spacing: var(--letter-spacing-primary);
  font-weight: 600;
}
