main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.addCard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  box-shadow: var(--shadow);
  border: 1px solid var(--border-color);
  padding: 60px;
  border-radius: 45px;
  position: relative;
  z-index: 2;
}

.registration-label {
  font-weight: 500;
  color: var(--label);
  font-size: 15px;
  padding: 15px;
  background-color: var(--white-hover);
  border: 1px solid var(--border-color);
  border-radius: 50px;
  margin-top: auto;
  margin-bottom: 30px;
  width: fit-content;
  align-self: center;
}

.addCard-headerSpan {
  color: var(--primary-color);
}

.addCard-header {
  align-self: first baseline;
  margin-bottom: 30px;
  margin-top: 0px;
}

.addCard-inputs {
  display: grid;
  max-width: 360px;
  width: 100%;
  grid-template-areas:
    'holder holder holder'
    'number number number'
    'expdate expdate cvc';
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
}

.addCard-holderDiv {
  grid-area: holder;
}

.addCard-numberDiv {
  grid-area: number;
}

.addCard-expdateDiv {
  grid-area: expdate;
}

.addCard-cvcDiv {
  grid-area: cvc;
}

.addCard-holderInput,
.addCard-numberInput,
.addCard-expdateInput,
.addCard-cvcInput {
  font-family: inherit;
  width: 100%;
  background-color: var(--light-gray);
  border: none;
  border-radius: 30px;
  padding: 20px;
  text-align: left;
  transition: all 0.3s ease;
  font-size: 15px;
  box-sizing: border-box;
}

.error-label.visible {
  display: block;
  width: fit-content;
  padding: 5px;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: var(--error-background);
  box-shadow: var(--shadow);
  color: var(--error-label);
  animation: fadeIn 0.3s ease;
}

.error-label {
  display: none;
}

.addCard-containers {
  display: flex;
  flex-direction: row;
}

.addCard-rightContainer {
  margin-left: 50px;
}

.addCard-dropdown {
  padding: 20px;
  min-width: 360px;
  width: 100%;
  background-color: var(--white);
  border-radius: 40px;
  color: var(--black);
  border: 1px solid var(--border-color);
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: inherit;
  font-weight: 500;
  font-size: medium;
  &,
  &::picker(select) {
    appearance: base-select;
    border: 1px solid var(--border-color);
    border-radius: 40px;
  }
}

.addCard-optionDiv {
  display: flex;
  flex-direction: column;
}

.addCard-option {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--white);
  transition: all 0.2s ease;
}

.addCard-option:hover {
  background-color: var(--white-hover);
}

.addCard-optionSubtitle {
  color: var(--subtitle);
  font-weight: 400;
  margin-top: 5px;
}

.selectedcontent .addCard-optionSubtitle {
  display: none;
}

.selectedcontent:empty::after {
  content: 'DEBIT';
  color: var(--black);
  font-weight: 500;
}

.addCard-title {
  color: var(--subtitle);
  font-weight: 400;
}

.addCard-line {
  width: 100%;
  height: 1px;
  background: var(--line);
  transform: scaleY(0.3);
  transform-origin: top;
  margin-top: 30px;
  margin-bottom: 40px;
}

.addCard-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.addCard-submitButton {
  padding: 20px;
  max-width: 190px;
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 40px;
  color: var(--white);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: inherit;
  font-size: medium;
}

.addCard-submitButton:hover {
  background-color: var(--primary-color-hover);
}

.addCard-skipButton {
  padding: 20px;
  max-width: 90px;
  width: 100%;
  margin-left: 10px;
  background-color: var(--white);
  border-radius: 40px;
  color: var(--black);
  border: 1px solid var(--border-color);
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: inherit;
  font-weight: 500;
  font-size: medium;
}

.addCard-backButton {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  background-color: var(--white);
  border: 1px solid var(--border-color);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.addCard-backButton:hover,
.addCard-skipButton:hover {
  background-color: var(--white-hover);
}
