main {
  display: flex;
  flex-direction: column;
  margin-top: var(--container-spacing);
  background-color: var(--white);
  border: 1px solid var(--border-color);
  padding: var(--container-padding-secondary);
  border-radius: var(--border-radius);
}

.intellectualProperty-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 35px;
}

.intellectualProperty-header h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  background-color: var(--primary-color-icon-secondary);
  font-size: 24px;
  padding: 10px;
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.intellectualProperty-header h1 {
  margin: 0;
  letter-spacing: var(--letter-spacing-primary);
  font-weight: 500;
  font-size: 32px;
}

.intellectualProperty-header hr {
  width: 100%;
  height: 1px;
  background-color: var(--border-color);
  border: none;
}

.intellectualProperty-paragraph1,
.intellectualProperty-paragraph2 {
  font-size: 20px;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 0px;
}

.intellectualProperty-paragraph1 {
  margin-bottom: 25px;
}

/* Mobile */
@media (max-width: 768px) {
  main {
    padding: var(--container-padding-mobile);
    border-radius: var(--border-radius-mobile);
    margin-top: var(--container-spacing-mobile);
  }

  .intellectualProperty-header h4 {
    font-size: 18px;
    padding: 7px;
  }

  .intellectualProperty-header h1 {
    font-size: 24px;
  }

  .intellectualProperty-header {
    margin-bottom: 25px;
  }

  .intellectualProperty-paragraph1,
  .intellectualProperty-paragraph2 {
    font-size: 18px;
  }

  .intellectualProperty-paragraph1 {
    margin-bottom: 15px;
  }
}
